.login-container
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-heading , 
.register-heading{
    margin: 10px;

}

.auth-submit-btn{
    margin: 10px;
}