.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
}
#searching-input{
    margin:10px;
}

.search-button{
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}