
#sidebar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 10dvh;
}


#conversation-container{
    display: flex;
    position: relative;
}   

#sidebar-conversations .selectedConversation{
    background-color: rgb(96, 226, 230);
}