#chat-container{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightblue;
    color: black;
    width: 60dvw;
    height: 80dvh;
    max-width: 700px;
 
}
/* Header */
.chat-header{
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 500;
}


#chat-messages{
    height: 60dvh;
    overflow-y: auto;
    background-color: rgba(245, 245, 245, 0.631);
}

.chat-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
}
#nochat-selected{
    text-align: center;
    font-size: large;

}