/* Chat Input */

#input-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80dvw;
    margin-top: auto;
    height: 10dvh;
}

#input-form input{
    width: 48dvw;
    height: 3dvh;
    font-size: small;
    margin-left: 35px;
}
#input-form button{
    height: 3dvh;
    width: 5dvw;
    border-radius: 20%;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}