#chat-container{

    display: flex;
    flex-direction: column;
    background-color: lightblue;
    overflow: auto;
    color: black;
    width: 40dvw;
    height: 50dvh;
 
}
/* Header */
header{
    background-color: lightgray;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 10px 10px 30px;
    margin: 15px;
    font-size: large;
    font-weight: 500;

}
span{
    margin: 5px;
}

/* Listado de mensajes enviados y recibidos */

#messages-container{
    border: black 2px ;
}

.msg-sent{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgb(243, 221, 221);
    max-width: 21vw;
    width: 50dvw;
    margin: 10px 10px 10px auto;
    padding: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}
.msg-received{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(243, 221, 221);
    margin: 10px auto 10px 10px;
    max-width: 21vw;
    width: 50dvw;
    padding: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#msg-img{
    padding: 5px 8px;
}

#msg-content p{
    text-align: left;
}

/* Chat Input */


#input-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40dvw;
    margin: auto 10px 10px 10px;
}

#input-form input{
    width: 30dvw;
}
#input-form button{
    height: 3dvh;
    width: 5dvw; 
}