#sidebar-container{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 28dvw;
    height: 50dvh;
}
#sidebar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 6dvh;
}